.container {
    display: grid;
    grid-template-areas: "logo navigation"
                          "sidebar main-content"
                          "footer .";
}



.logo {
    grid-area: logo;
    background: rgba(255, 154, 72, 0.5);
}

.nav {
    background: rgba(255, 0, 0, 0.5);

}

.sidebar {
    background: rgba(0, 128, 0, 0.5);
}

.main-content {
    background: rgba(0, 4, 255, 0.5);
}

.footer {
    background: yellow;
}