.container {
    margin: 150px auto;
    border: 1px solid black;
    width: 200px;
    height: 200px;
    perspective: 1000px;
    perspective-origin: 500px;
}

.box {
    background: red;
    width: 100%;
    height: 100%;
    transform:  skew(40deg); 
    color: white;
    font-family: sans-serif;
    text-align: center;
}