main {
    padding-top: 1rem;
}

.signup-title {
    color: #ff5454;
    font-size: 1.8rem;
    text-align: center;
}

.signup-form {
    padding: 1rem;
    display: grid;
}

.signup-form label {
    font-weight: bold;
}

.signup-form label,
.signup-form input,
.signup-form select {
    display: block;
    margin-top: 1rem;
    width: 100%;
}

.signup-form input[type="checkbox"],
.signup-form input[type="checkbox"] + label {
    display: inline-block;
    width: auto;
    vertical-align: bottom;
}


.signup-form input:not([type="checkbox"]),
.signup-form select {
    border: 1px solid #ccc;
    padding: 0.5rem 0.7rem;
    font: inherit;
}


/* .signup-form option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 0.5rem;
    padding: 0;
    width: 10px !important;
} */

 .signup-form input:focus,
.signup-form select:focus {
    outline: none;
    background: #d8f3df;
    border-color: #2ddf5c;
}

.signup-form input[type="checkbox"] {
    border: 1px solid #ccc;
    background: white;
    width: 1rem;
    height: 1rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.signup-form input[type="checkbox"]:checked {
    background: #2ddf5c;
    border: #0e4f1f;
}

.signup-form input.invalid,
.signup-form select.invalid,
.signup-form :invalid {
    border-color: red !important;
    background: #faacac;
}

.signup-form button[type="submit"] {
    display: block;
    margin-top: 1rem;
}

@media (min-width: 40rem) {
    .signup-form {
        margin: auto;
        width: 25rem;
        grid-template-columns: 160px auto;
    }

    .signup-form #title {
        grid-column: span 2;
    }
    
    .signup-form .agree-terms {
        grid-column: span 2;
    }
    
}
